#ifndef _DEV_TREE_GEN_
#define _DEV_TREE_GEN_

#include <stdio.h>
#include <stdlib.h>
#include <string.h>

#define MOCK_ADDRESS(region) ((void*)(1024 * region))

{% set ns = namespace(icmsg_present=0, icbmsg_present=0) %}

{% for inst in devs %}
#define DT_N_INST_{{inst.index}}_zephyr_ipc_{{inst.type}}_FULL_NAME "{{inst.type}}_instance_{{inst.index}}"
#define __device_dts_ord_DT_N_INST_{{inst.index}}_zephyr_ipc_{{inst.type}}_P_mboxes_NAME_tx_PH_ORD (_mock_mboxes[0])
#define __device_dts_ord_DT_N_INST_{{inst.index}}_zephyr_ipc_{{inst.type}}_P_mboxes_NAME_rx_PH_ORD (_mock_mboxes[1])
{% for x in inst.other %}
#define DT_N_INST_{{inst.index}}_zephyr_ipc_{{inst.type}}_P_{{x}}_EXISTS 1
#define DT_N_INST_{{inst.index}}_zephyr_ipc_{{inst.type}}_P_{{x}} {{inst.other[x]}}
#define DT_N_INST_{{inst.index}}_zephyr_ipc_{{inst.type}}_P_{{x}}_STRING_UPPER_TOKEN {{inst.other[x]|upper}}
#define DT_N_INST_{{inst.index}}_zephyr_ipc_{{inst.type}}_P_{{x}}_STRING_UNQUOTED {{inst.other[x]}}
{% endfor %}
#define DT_N_INST_{{inst.index}}_zephyr_ipc_{{inst.type}}_P_tx_region_IDX_0_PH_REG_IDX_0_VAL_SIZEU {{inst.tx_region_size}}
#define DT_N_INST_{{inst.index}}_zephyr_ipc_{{inst.type}}_P_tx_region_IDX_0_PH_REG_IDX_0_VAL_ADDRESSU MOCK_ADDRESS({{inst.tx_region}})
#define DT_N_INST_{{inst.index}}_zephyr_ipc_{{inst.type}}_P_rx_region_IDX_0_PH_REG_IDX_0_VAL_SIZEU {{inst.rx_region_size}}
#define DT_N_INST_{{inst.index}}_zephyr_ipc_{{inst.type}}_P_rx_region_IDX_0_PH_REG_IDX_0_VAL_ADDRESSU MOCK_ADDRESS({{inst.rx_region}})
#define DT_N_INST_{{inst.index}}_zephyr_ipc_{{inst.type}}_ORD {{inst.index}}
{% if inst.type == "icmsg" %}{% set ns.icmsg_present = 1 %}{% endif %}
{% if inst.type == "icbmsg" %}{% set ns.icbmsg_present = 1 %}{% endif %}
{% endfor %}

{% if ns.icmsg_present %}
#define DT_COMPAT_HAS_OKAY_zephyr_ipc_icmsg 1
#define DT_FOREACH_OKAY_INST_zephyr_ipc_icmsg(fn) FOR_EACH(fn, () \
	{% for inst in devs %} \
	{% if inst.type == "icmsg" %} , {{inst.index}} {% endif %} \
	{% endfor %} )
{% endif %}


{% if ns.icbmsg_present %}
#define DT_COMPAT_HAS_OKAY_zephyr_ipc_icbmsg 1
#define DT_FOREACH_OKAY_INST_zephyr_ipc_icbmsg(fn) FOR_EACH(fn, () \
	{% for inst in devs %} \
	{% if inst.type == "icbmsg" %} , {{inst.index}} {% endif %} \
	{% endfor %} )
{% endif %}


#endif
