
{{ _warning_ }}

Field `{{new.name}}` was added to structure `{{parent.new.name}}`
in `{{parent.new.file}}:{{parent.new.line}}`.

This is API breaking change if user is required to set this field.
Follow the migration procedure and add this change
to migration guide.
