
{{ param }}
{{ param.kind }}
{{ param.action }}

`{{param.new.name}}` in `{{new.name}}` in `{{new.file}}:{{new.line}}`.

{% if param.index %}
{{ _error_ }}
A macro parameter `{{param.new.name}}` was reordered in `{{new.name}}` in `{{new.file}}:{{new.line}}`.
This breaks API compatibility.
{% endif %}

{% if param.desc %}
{{ _notice_ }}
A macro parameter `{{param.new.name }}` description was changed
in `{{new.name}}` in `{{new.file}}:{{new.line}}`.

If this is a behavioral change that affects API compatibility, add it to the migration guide.
{% endif %}

{% if param.type %}
{{ _error_ }}
A function parameter `{{param.new.name }}` type was changed
in `{{new.name}}` in `{{new.file}}:{{new.line}}`.

If this is a behavioral change that affects API compatibility, add it to the migration guide.
{% endif %}
