
{{ _error_ }}

Parameter `{{old.name}}` was deleted from function `{{parent.new.name}}`
in `{{parent.new.file}}:{{parent.new.line}}`.

This is API breaking change. Follow the migration procedure and add this change
to migration guide.
