
{{ _error_ }}

Parameter `{{new.name}}` was added to function `{{parent.new.name}}`
in `{{parent.new.file}}:{{parent.new.line}}`.

This is API breaking change. Follow the migration procedure and add this change
to migration guide.
