
{{ _error_ }}

Function `{{new.name}}` was deteted from `{{old.file}}:{{old.line}}`.

{{ _details_ }}

# Identifier deletion

Deletion of any API identifier must follow specific procedure.

TODO: More details about deprecatation and deletion.
