# Bluetooth LE driver configuration options

# Copyright (c) 2015-2016 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

#
# Bluetooth options
#

# Controller support is an HCI driver in itself, so these HCI driver
# options are only applicable if controller support hasn't been enabled.
menu "Bluetooth Drivers"
	depends on BT && !BT_CTLR

if BT_HCI
source "drivers/bluetooth/hci/Kconfig"
endif

if BT_CUSTOM
# Insert here any custom (non-HCI) offload drives
endif

endmenu

config BT_SHMEM_NRF53_FIFO
	bool "Enable shared memory FIFO on nRF53 API"
	depends on SOC_NRF5340_CPUNET
	select IPM
	select IPM_NRFX
	select IPM_MSG_CH_0_ENABLE
	select IPM_MSG_CH_0_TX
	select IPM_MSG_CH_1_ENABLE
	select IPM_MSG_CH_1_RX
	select IPM_MSG_CH_2_ENABLE
	select IPM_MSG_CH_2_RX
	select IPM_MSG_CH_3_ENABLE
	select IPM_MSG_CH_3_TX
	help
	  Enable shared memory FIFO API to communicate with "HCI over shared
	  memory FIFO on nRF53" driver. This API is needed to implement
	  controller side of HCI.
