
{{ _notice_ }}

{{ 'Macro' if new.params else 'Definition' }}
`{{new.name}}` was added in `{{new.file}}:{{new.line}}`.

If, starting from this version, a user is obligated to use it,
add such information to the migration guide.
