
{{ _notice_ }}

Function `{{new.name}}` was added in `{{new.file}}:{{new.line}}`.

If, starting from this version, a user is obligated to use this function,
add such information to the migration guide.
